<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attendance Report</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/css/empmonitoratt.css">
</head>

<body>
    <div class="card-body">
        {{#monitoratt}}
        <div class="card">
            <div class="card-body">
                <label for="year">Year</label>
                <input type="number" class="card-text" id="year" name="year" value="{{year}}" readonly>
                <label for="year">Month</label>
                <input type="number" class="card-text" id="month" name="month" value="{{month}}" readonly>
                <label for="year">Present Days</label>
                <input type="number" class="card-text" id="present_days" name="present_days" value="{{present_days}}"
                    readonly>
            </div>
        </div>
        <a href="/downloadExcel?year={{year}}&month={{month}}&present_days={{present_days}}"
            class="btn btn-primary">Download
            Monthly Report</a>
        {{/monitoratt}}
    </div>

</body>

</html>